/* banner */
.banner {
    background-image: url(https://spiderum.com/banner.78f477df5d7c7b697e99.png);
    min-height: 490px;
    display: flex;
    align-items: center;
}
.banner > .container > h1 {
    font-size: 50px;
    line-height: 62px;
    width: 60%;
    background: linear-gradient(90deg, #262443 0, #2a99d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner > .container > h2 {
    font-size: 30px;
    font-weight: 400;
}
.banner > .container > a {
    display: block;
    padding: 5px 50px;
    width: fit-content;
    background-color: white;
    border: 1px solid #606266;
    border-radius: 100px;
    color: #606266;
    margin-top: 20px;
}
