/* Reset */
a {
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 10%);
  padding: 20px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 20px;
}

.header-left > .logo > img {
  width: 110px;
}

.vertical-divider {
  width: 1px;
  height: 25px;
  background-color: #d9d9d9;
}

.header-left > .shop-link {
  color: #92400e;
  background-color: #fff7ed;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 14px;
  white-space: nowrap;
}
.header-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header-right > button {
  color: white;
  width: 40px;
  height: 40px;
}
.header-right > button:hover {
  background-color: rgba(227, 235, 246, 0.5);
}
.right-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.right-right > button {
  background-color: #2e89bf;
  color: white;
  border-radius: 21px;
  padding: 0.5rem 1.5rem;
}

.right-right > a {
  color: black;
}
